.Travel-form {
  margin: 30px 100px;
}

.Travel-form input {
  display: block;
  margin: 30px;
  padding: 5px;
  border: 1px solid #808080;
  border-radius: 5px;
  width: 280px;
}

.error {
  color: #ff0000;
}